<!--The content below is only a placeholder and can be replaced.--> 
<div class = 'image'>
  <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <h2>
        where you can see Xkcd comics all day!
      </h2>
      <img id="comic" alt="XKCD Comic" src="http://www.userlogos.org/files/logos/euphonicnight/xkcd.png">
      <br>
      <button class="btn btn-lg btn-primary" (click)="Next()">Next</button> 
  </div>
  <br>
  <div *ngIf="images.length">
      <p>
          <ngb-alert type = info [dismissible]="false">
            Click on a title to view its comic photo
          </ngb-alert>
          <ngb-alert type = info [dismissible]="false">
              Place your mouse on a title to view its first seen time
          </ngb-alert>
      </p>
  </div>
  <div class = 'margin'>
          <div *ngFor = "let ja of images"> 
              <button (click)="set(ja.img)" type="button" class="btn btn-secondary" ngbPopover="{{ja.date}}" triggers="mouseenter:mouseleave" popoverTitle="Time Seen">
                  {{ja.title}}
                </button>
                <br><br>
          </div>
  </div>
  <br><br><br><br><br><br><br><br>
<footer>
    This project is done for SAUGO 360 front end coding challenge
</footer> 
</div>
